---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Faste - Create your pastes faster">
  <main class="w-screen h-screen bg-neutral-900 py-3 pr-2 flex flex-row">
    <div class="h-full flex w-12 items-start justify-center">
      <span class="text-sm text-gray-400">&gt;</span>
    </div>
    <textarea
      autofocus
      id="content"
      class="text-sm tracking-tight resize-none h-full w-full font-mono outline-none ring-none border-none bg-neutral-900 text-white pt-[1px] px-12 pl-0"
    ></textarea>
    <section
      class="absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white flex divide-neutral-700"
    >
      <button
        tabindex="0"
        id="save"
        class="border bg-neutral-900 border-neutral-700 px-4 py-2 rounded-l hover:bg-neutral-950 active:bg-neutral-900"
      >
        Create new paste<br />
        <kbd>CTRL</kbd>
        +
        <kbd>S</kbd>
      </button>
      <button
        id="new"
        class="border bg-neutral-900 border-neutral-700 px-4 py-2 rounded-r hover:bg-neutral-950 active:bg-neutral-900"
      >
        Empty current paste<br />
        <kbd>CTRL</kbd>
        +
        <kbd>Q</kbd>
      </button>
    </section>
  </main>
</Layout>

<script>
  const $saveButton = document.querySelector("#save");
  const $newButton = document.querySelector("#new");
  const $textarea = document.querySelector("#content") as HTMLTextAreaElement;

  async function saveData() {
    const res = await fetch("/api/create", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ content: $textarea.value }),
    });
    res.json().then((data) => {
      window.location.href = data.link;
    });
  }

  if ($saveButton instanceof HTMLButtonElement) {
    $saveButton.onclick = async () => {
      await saveData();
    };
  }

  if ($newButton instanceof HTMLButtonElement) {
    $newButton.onclick = () => {
      $textarea.value = "";
    };
  }

  window.addEventListener("keydown", async (event) => {
    if (event.ctrlKey && event.key.toLowerCase() === "s") {
      event.preventDefault();
      console.log("hola");
      await saveData();
    }

    if (event.ctrlKey && event.key.toLowerCase() === "q") {
      event.preventDefault();
      $textarea.value = "";
    }
  });
</script>

<style>
  textarea {
    scrollbar-arrow-color: #fff;
    scrollbar-base-color: #fff;
    scrollbar-color: #363636 #222; /* thumb and track color */
  }
</style>
