---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Faste - Create your pastes faster">
  <main class="w-screen h-screen bg-neutral-900 py-3 pr-2 flex flex-row">
    <div class="h-full flex w-12 items-start justify-center">
      <span class="text-sm text-gray-400">&gt;</span>
    </div>
    <textarea
      class="text-sm tracking-tight resize-none h-full w-full font-mono outline-none ring-none border-none bg-neutral-900 text-white pt-[1px] px-12 pl-0"
    ></textarea>
    <section
      class="absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white flex divide-neutral-700"
    >
      <button
        class="border bg-neutral-900 border-neutral-700 px-4 py-2 rounded-l"
        >Save</button
      >
      <button class="border bg-neutral-900 border-neutral-700 px-4 py-2"
        >New</button
      >
      <button
        class="border bg-neutral-900 border-neutral-700 px-4 py-2 rounded-r"
        >Share</button
      >
    </section>
  </main>
</Layout>

<style>
  textarea {
    scrollbar-arrow-color: #fff;
    scrollbar-base-color: #fff;
    scrollbar-color: #363636 #222; /* thumb and track color */
  }
</style>
